<div class='wym_box field images_field'>
  <ul id='page_images' class='clearfix'>
    <%= f.fields_for :images do |image_form| %>
      <li id='image_<%= image_form.object.id %>'>
        <%= image_form.hidden_field :id %>
        <%= image_fu image_form.object, '135x135#c' %>
        <% index = image_form.object_name.split('[').last.split(']').first.to_i %>
        <%= hidden_field_tag "#{f.object_name.demodulize}[images_attributes][#{index}][image_page_id]", f.object.image_page_id_for_image_index(index) %>
      </li>
    <% end %>
    <li class='empty'>
      <%= hidden_field_tag "#{f.object_name.demodulize}[images_attributes][#{f.object.images.size}][id]" %>
    </li>
  </ul>
</div>